.bg-color {
    background: rgba(232, 75, 75, 1);
    background: linear-gradient(45deg, rgba(232, 75, 75, 1) 0%, rgba(227, 141, 240, 1) 16%, rgba(141, 141, 240, 1) 32%, rgba(141, 240, 235, 1) 51%, rgba(158, 240, 141, 1) 69%, rgba(240, 227, 141, 1) 85%, rgba(227, 123, 32, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e84b4b', endColorstr='#e37b20', GradientType=1);
}

.bg-transparent {
    background-color: rgba(255, 0, 0, 0);
}

.bg-body-blue {
    background: linear-gradient(45deg, rgb(75, 104, 232) 0%, rgb(141, 184, 240) 60%, rgba(75, 104, 232) 100%);
}

.bg-main {
    background: rgba(87, 108, 166, 1);
    background: linear-gradient(90deg, rgba(177, 104, 222, 1) 0%, rgba(83, 162, 201, 1) 54%, rgba(84, 199, 135, 1) 100%);
}

.img-circle-rigth {
    margin-right: -125px;
}

.text-img-left {
    padding-left: 125px;
    height: 250px;
}

.icon-user {
    font-size: 75px;
    border-radius: 100%;
    color: aquamarine;
}

.icon-user-admin {
    font-size: 75px;
    border-radius: 100%;
    color: rgb(255, 221, 127);
}

#commentary .icon-user,
#commentary .icon-user-admin {
    font-size: 45px;
}

nav .icon-user,
nav .icon-user-admi {
    color: rgb(255, 255, 255);
    font-size: 25px;
}

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

#form div {
    text-align: center;
}

#form label {
    font-size: 20px;
}

input[type="radio"] {
    display: none;
}

label {
    color: white;
}

label i {
    color: white;
    font-size: 20px;
}

#form-commentary label:hover i,
#form-commentary label:hover~label i {
    color: rgb(255, 251, 40);
}

input[type="radio"]:checked~label i {
    color: rgb(255, 251, 40);
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.mark-star label i,
.mark-star~div label i {
    color: rgb(255, 251, 40);
}

.dropdown-menu-min {
    min-width: 120px!important;
    transform: translate3d(-60px, 38px, 0px)!important;
}

.modal-img-product {
    position: relative;
}

.modal-img-buttons {
    position: absolute;
    right: 2px;
    top: 2px;
}

.modal-img-buttons i{
    font-size: 18px;
}

.invert {
    transform: scaleX(-1);
}

td .pagination {
    width: 100%;
    justify-content: center;
}

.card-header-bg {
    background: linear-gradient(90deg, rgba(177, 104, 222, 1) 0%, rgba(83, 162, 201, 1) 54%, rgba(84, 199, 135, 1) 100%);
}

.inputWrapper {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    /*Using a background color, but you can use a background image to represent a button*/
    background-color: #DDF0;
}

.fileInput {
    cursor: pointer;
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    /*This makes the button huge. If you want a bigger button, increase the font size*/
    font-size:2 0px;
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(84, 199, 135, 1) 0%, rgba(83, 162, 201, 1) 50%, rgba(177, 104, 222, 1) 100%);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input[type="checkbox"]:checked + .slider {
    transition: .4s;
    background: linear-gradient(90deg, rgba(177, 104, 222, 1) 0%, rgba(83, 162, 201, 1) 54%, rgba(84, 199, 135, 1) 100%);
}

input[type="checkbox"]:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input[type="checkbox"]:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.inputWrapper button i{
    font-size: 18px;
}

.inputWrapper > input ~ button{
    display: none;
}
.inputWrapper > input[upload], .inputWrapper > input[upload]+ label {
    display: none;
}
.inputWrapper > input[upload] ~ button{
    display: block;
}

