.bg-color {
    background: rgba(232, 75, 75, 1);
    background: linear-gradient(45deg, rgba(232, 75, 75, 1) 0%, rgba(227, 141, 240, 1) 16%, rgba(141, 141, 240, 1) 32%, rgba(141, 240, 235, 1) 51%, rgba(158, 240, 141, 1) 69%, rgba(240, 227, 141, 1) 85%, rgba(227, 123, 32, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e84b4b', endColorstr='#e37b20', GradientType=1);
}

.bg-transparent {
    background-color: rgba(255, 0, 0, 0);
}

.bg-body-blue {
    background: linear-gradient(45deg, rgb(75, 104, 232) 0%, rgb(141, 184, 240) 60%, rgba(75, 104, 232) 100%);
}

.bg-main {
    background: rgba(87, 108, 166, 1);
    background: linear-gradient(90deg, rgba(177, 104, 222, 1) 0%, rgba(83, 162, 201, 1) 54%, rgba(84, 199, 135, 1) 100%);
}

.img-circle-rigth {
    margin-right: -125px;
}

.text-img-left {
    padding-left: 125px;
    height: 250px;
}

.icon-user {
    font-size: 75px;
    border-radius: 100%;
    color: aquamarine;
}

.icon-user-admin {
    font-size: 75px;
    border-radius: 100%;
    color: rgb(255, 221, 127);
}

#commentary .icon-user,
#commentary .icon-user-admin {
    font-size: 45px;
}

nav .icon-user,
nav .icon-user-admi {
    color: rgb(255, 255, 255);
    font-size: 25px;
}

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

#form div {
    text-align: center;
}

#form label {
    font-size: 20px;
}

input[type="radio"] {
    display: none;
}

label {
    color: white;
}

label i {
    color: white;
    font-size: 20px;
}

#form-commentary label:hover i,
#form-commentary label:hover~label i {
    color: rgb(255, 251, 40);
}

input[type="radio"]:checked~label i {
    color: rgb(255, 251, 40);
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.mark-star label i,
.mark-star~div label i {
    color: rgb(255, 251, 40);
}

.dropdown-menu-min {
    min-width: 120px!important;
    transform: translate3d(-60px, 38px, 0px)!important;
}